[run]
source =
    _zkapauthorizer
    twisted.plugins.zkapauthorizer

branch = True
parallel = True

[paths]
source =
    src/
    /nix/store/*/lib/python*/site-packages/
    C:\hostedtoolcache\windows\Python\2.7.18\x64\Lib\site-packages\
