# Pinned version of all dependencies, direct and transitive, needed at
# runtime.  This is the configuration tested on CI.
attrs==19.1.0
Automat==0.7.0
constantly==15.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
PyHamcrest==1.9.0
six==1.12.0
Twisted==19.2.1
zope.interface==4.6.0
